* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #6d6e72;
}

#deadLine {
    
}

#fillInTodo {
    position: fixed;
    top: 80px;
    left: 120px;
    width: 490px;
    background-color: #999;
    padding: 25px 40px;
    border-radius: 20px;

    form {
        p {
            color: white;
            font-size: 1.5em;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        #todoInput {
            width: 410px;
            height: 40px;
            border-radius: 20px;
            padding: 0 14px;
            border: 0px;
            color: #333;
            background-color: #e2e2e2;
            font-size: 1.2em;
        
            transition: background-color 0.2s ease-in-out;
        }
        
        #todoInput:hover {
            background-color: #bbb;
            border: 1px solid #ccc;
        }
        
        #todoInput:focus {
            background-color: #eee;
            border: 1px solid #ccc;
            outline: none;
            transition: background-color 0s;
        }

        #describe {
            border-radius: 10px;
            border: 0px;
            padding: 5px 10px;
            background-color: #e2e2e2;
            font-size: 1.8em;
            color: #333;
        
            transition: background-color 0.2s ease-in-out;
        }
        
        #describe:hover {
            background-color: #bbb;
        }
        
        #describe:focus {
            background-color: #eee;
            outline: none;
            transition: background-color 0s;
        }
    }

}
